a.skip{
    background: white;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    position: absolute;
    left: 0px;
    top: -50px;
}

a.skip:focus{
    border: 2px solid #1e047d;
    top: 20px;
    color: #121111;
    justify-items: left;
}

header{
    background: #f2ddd2;
}

li{
    list-style: none;
}

.introcard h2{
    border-bottom: none;
}

.title h1{
    font-family: "Pattaya", Helvetica, sans-serif;
    padding: 120px 90px;
    padding-bottom: 0px;
    font-size: 45px;
}

.title p{
    font-weight: bold;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.navbar a{
    color: #121111;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover, .nav-link:focus {
    color: #a44a00;
    text-decoration: underline;
}

.nav-link.current{
    color: #a44a00;
    text-decoration: underline;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
}

.hamburger{
    display: block;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0px;
    flex-direction: column;
    background: #faede6;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item{
    margin: 16px 0px;
}

.nav-menu.active{
    left: 0px;
}

.title{
    background: url(../images/title1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2px 15px 5px #b6b1b1;
    margin: 50px;
    border-radius: 40px 40px 0px 0px;
}

h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

.photostack{
    margin: 50px;
    margin-bottom: 350px;
}

.mywork p{
    text-align: center;
    padding-top: 0px;
}

.wrapper{
    position: relative;
    padding: 20px;
    top: 23%;
    left: 33%;
    transform: (-50%, -50%);
}

.img-area{
    position: relative;
    width: 150px;
    height: 190px;
    overflow: visible;
}

.img-box{
    padding: 5px 5px 25px 5px;
    z-index: 200;
    background-color: #fff;
    width: 300px;
    position: absolute;
    height: 190px;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px 0 #aba0a0;
    border: 1px solid rgb(201, 198, 198);
    transition: .5s;
}

.img-area:hover .box-5{
    top: 240px;
    left: -80px;
}

.img-area:hover .box-1{
    top: 50px;
    left: -140px;
}

.img-area:hover .box-2{
    top: 40px;
    left: 10px;
}

.img-area:hover .box-3{
    top: 50px;
    left: 140px;
}

.img-area:hover .box-4{
    top: 240px;
    left: 70px;
}

.img-area img:nth-child(1){
    transform: rotate(-10deg);
    zoom: 1.2;
}

.img-area img:nth-child(4){
    transform: rotate(10deg);
    zoom: 1.2;
}

.img-area img:nth-child(2){
    zoom: 1.2;
}

.img-area img:nth-child(3){
    transform: rotate(10deg);
    zoom: 1.2;
}

.img-area img:nth-child(5){
    transform: rotate(-10deg);
    zoom: 1.2;
}

.backdrop{
    background: url(../images/title1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;
    margin: 80px;
    border-radius: 30px;
    /* min-height: 400px; */
}

p{
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

h2{
    border-bottom: 0.5px solid black;
    font-size: 35px;
    margin: 0px 50px 30px 50px;
    font-family: "Bebas Neue", Helvetica, sans-serif;
    text-align:center;
}

.about p{
    padding: 20px;
    text-align: center;
}

.about h2{
    font-family: "Pattaya", Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.introcard{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    border-radius: 30px;
    border: 5px solid #ffb0b0;
    outline: 4px solid #f2ea96;
    padding: 40px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2px 15px 5px #b6b1b1;
}

.intro2 p{
    margin: 20px 50px;
}

.mywork p{
    margin-top: 20px;
}

.top3 p{
    margin: 0px 50px 50px 50px;
    /* padding: 30px 50px; */
}

.top3 .overlay p{
    border-bottom: none;
    margin-bottom: 20px;
    padding: 0px 50px;
}

#others p{
    margin: 0px 50px 50px 50px;
    /* padding: 30px 50px; */
}

#others .overlay p{
    border-bottom: none;
    margin-bottom: 20px;
    padding: 0px 50px;
}

#others .overlay{
    border-radius: 0px 0px 40px 40px;
}

.introimage img{
    border-radius: 50%;
    padding-top: 40px;
    margin-left: 40px;
    height: 250px;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.website, .instagram{
    padding: 15px 10px;
}

.contact a{
    color: #302f2f;
}

.overlay .fa.fa-arrow-right{
    font-size: large;
}

.contact .fa{
    font-size: xx-large;
}

#top3 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.artist1, .artist2 {
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.artist1, .artist2  h3{
    text-align: center;
    font-family: "Bebas Neue", Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}


.artist1 img{
    border-radius: 40px;
    box-shadow:
    0 0 0 5px #f2ea96,
    0 0 0 9px #ffb0b0;
    padding: 5px;
}

.artist2 img{
    border-radius: 40px;
    box-shadow:
    0 0 0 5px #f2ea96,
    0 0 0 9px #ffb0b0;
    padding: 5px;
}

.cards{
    background: url(../images/blob_background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 80px;
}

.cards{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.card {
    position: relative;
    margin : 20px 30px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    border-radius : 15px;
  }

.card image {
    position : relative;
    width : 300px;
    height : 215px;
  }

  .card .image img {
    border-radius: 15px 15px 0px 0px;
  }

  .card .info {
    position : relative;
    width: 100%;
    height: 20%;
    padding: 40px;
    border-radius: 0px 0px 15px 15px;
    color : #111;
    text-align : center;
  }

  .card .info h3{
    font-size: 30px;
  }

[type=radio] {
    display: none;
}

#slider{
    /* margin-left: 60px; */
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.carousel{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px 50px;
}

.carousel p{
    display: block;
    text-align: center;
    margin: 20px 50px;
}

#slider{
    left: 50px;
}

#slider label{
    margin: auto;
    width: 60%;
    height: 0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#slider p{
    display: block;
}

label img{
    width: 60%;
    border-radius: 20px;
    box-shadow: 0 3px 7px 2px rgb(192, 189, 189);

}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
transform: translate3d(30%,0,-200px);
}

h3{
    font-family: "Cookie", Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.overlay{
    position: relative;
    top: -80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(109, 102, 102, 0.6);
    margin: 0px;
    padding-bottom: 9px;
    border-radius: 0px 0px 40px 40px;
}

.artist2 .overlay{
    padding: 5px;
    border-radius: 20px;
}

.overlay .fa{
    font-size: xx-large;
}

.overlay p{
    font-size: 20px;
}

footer{
    text-align: center;
    margin: 50px
}

@media screen and (min-width: 800px){

     .nav-menu ul{
        box-sizing: border-box;
    }

    #others{
        margin: 0px 50px;
    }

    .wrapper{
        top: 50%;
        left: 35%;
    }
    
    .overlay{
        margin: 0px 83px;
    }
    
    #others .overlay{
        margin: 0px;
    }

    .photostack h2{
        margin-bottom: 40px;
    }

    .img-area:hover .box-5{
        top: 240px;
        left: -70px;
    }
    
    .img-area:hover .box-1{
        top: 50px;
        left: -130px;
    }
    
    .img-area:hover .box-2{
        top: 40px;
        left: 2px;
    }
    
    .img-area:hover .box-3{
        top: 50px;
        left: 150px;
    }
    
    .img-area:hover .box-4{
        top: 240px;
        left: 80px;
    }


    #top3 p{
        margin: 80px;
    }


    .website, .instagram{
        padding: 15px 0px;
    }

    .carousel p{
        display: block;
        padding-top: 50px;
        text-align: center;
        margin-left: 50px;
    }

    .introimage img{
        border-radius: 50%;
        padding-top: 40px;
        margin-left: 90px;
        height: 350px;
    }
    
    .website, .instagram{
        padding: 15px 10px;
    }
    
    .artist1 img{
        width: 80%;
    }

    #otherartists{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
    }

    .artist2 img{
        width: 240px;
        height: 240px;
    }

    .artist2{
        padding: 15px;
    }

    .artist2 img{
        border-radius: 40px;
    }

}

@media screen and (min-width: 1024px){

    .nav-menu{
        background: #f2ddd2;
    }

    .carousel{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .photostack{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        margin: 0px 50px 0px 50px;
    }

    .mywork{
        margin: 0px 0px 50px 0px;
        padding: 30px 0px;
        border-radius: 40px;
        border-left: 10px double #ffb0b0;
        margin-top: 50px;
    }

    .mywork p{
        text-align: left;
        padding-left: 50px;
    }

    .photostack h2 {
        margin-bottom: 0px;
        padding: 0px;
    }
    
    .img-area:hover .box-5{
        top: 135px;
        left: -70px;
    }
    
    .img-area:hover .box-1{
        top: -50px;
        left: -150px;
    }
    
    .img-area:hover .box-2{
        top: -60px;
        left: 2px;
    }
    
    .img-area:hover .box-3{
        top: -50px;
        left: 150px;
    }
    
    .img-area:hover .box-4{
        top: 135px;
        left: 80px;
    }

    .img-area img:nth-child(1){
        transform: rotate(-15deg);
        zoom: 1.1;
    }
    
    .img-area img:nth-child(4){
        transform: rotate(15deg);
        zoom: 1.1;
    }
    
    .img-area img:nth-child(2){
        zoom: 1.1;
    }
    
    .img-area img:nth-child(3){
        transform: rotate(15deg);
        zoom: 1.1;
    }
    
    .img-area img:nth-child(5){
        transform: rotate(-15deg);
        zoom: 1.1;
    }

    .wrapper{
        top: 23%;
        left: 42%;
    }


    ul li{
        margin-top: 30px;
    }

    .carousel{
        margin-top: 120px;
    }
    .carousel p{
        padding-top: 0px;
    }

    h2{
        padding: 40px;
        font-family: "Bebas Neue", Helvetica, sans-serif;
    }

    .intro2 p{
        margin: 0px 50px;
        padding: 0px 50px;
        display: inline-block;
    }

    h3{
        font-size: 30px;
        padding-bottom: 0px;
    }

    .hamburger{
        display: none;
        cursor: pointer;
    }

    .nav-menu{
        position: relative;
        left: 0;
        top: 0;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-item{
        margin: 20px;
    }

    li .artist1 {
        position: relative;
        padding: 0px;
        margin: 50px;
      }
    
    li .artist2  {
        position: relative;
        padding: 0px;
        margin: 50px;
      }
    
    li .artwork {
        position: relative;
      }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 40px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        flex-direction: column;
        color: #fff;
        cursor: pointer;
      }

    .artist2 img{
        border-radius: 40px;
    }

    li .artist1:hover .overlay {
        opacity: 1;
        width: 310px;
        height: 310px;
      }

    li .artist2:hover .overlay {
        opacity: 1;
      }

    #others .overlay{
        border-radius: 40px;
        position: absolute;
        /* width: 285px;
        height: 310px; */
    }
    
    .overlay p:hover{
        text-decoration: underline;
      }

    .artist1  img{
        width: 310px;
        height: 310px;
    }
      .artist2  img{
        width: 310px;
        height: 310px;
    }

    .overlay .instagram .fa{
        font-size: xx-large;
    }

    .overlay .website .fa{
        font-size: xx-large;
    }

    .cards{
        background: url(../images/blob_background.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        min-height: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        margin: 50px 80px;
    }

    .introcard{
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-rows: none;
        border-radius: 30px;
        border: 5px solid #ffb0b0;
        outline: 4px solid #f2ea96;
        padding: 40px;
        margin: 0px 110px;
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 2px 15px 5px #b6b1b1;
    }

    .about{
        padding: 0px;
    }
    
    .introimage img{
        border-radius: 50%;
        margin-left: 0px;
        padding-top: 70px;
        height: 250px;
    }
    
    .contact{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        position: relative;
        height : 215px;  
        background-color : #fff;
        margin : 20px 30px;
        box-shadow : 0 5px 20px rgba(0,0,0,0.5);
        transition : 0.3s ease-in-out;
        border-radius : 15px;
      }

    .card image {
        position : relative;
        width : 300px;
        height : 215px;
        top : -40%;
        left: 8px;
        box-shadow : 0 5px 20px rgba(0,0,0,0.2);
        z-index : 1;
      }

      .card:hover {
        height : 250px;
      }

      .card .image img {
        border-radius: 15px 15px 0px 0px;
      }

      .card .info {
        position : relative;
        width: 100%;
        height: 50px;
        background: whitesmoke;
        border-radius: 0px 0px 15px 15px;
        top : -5px;
        color : #111;
        text-align : center;
        /* visibility : hidden; */
        transition : 0.3s ease-in-out;
      }

      .card .info h3{
        font-size: 25px;
        padding-top: 0px;
      }

      .card .info p{
        font-size: 12px;
        padding-bottom: 30px;
        padding-top: 10px;
        opacity : 0;
      }

      .card:hover .info p{
        opacity : 1;
      }
      
      .card:hover .info {
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 2px 15px 5px #b6b1b1;
        border: 5px solid #ffb0b0;
        outline: 8px solid #f2ea96;
        height: 220px;
         margin-top : 10px;
         visibility : visible;
         transition-delay: 0.2s;
      }

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}
